registry = https://themagnit.jfrog.io/artifactory/api/npm/tdb_globalutils-npm/
_auth = aW5mb0B0aGVtYWduaXQubmV0OkFQOHBBU2g4RDlKWkhnVHNwWUhCNGlVaTZwMw==
email = info@themagnit.net
always-auth = true

# @constants:registry=https://themagnit.jfrog.io/artifactory/api/npm/tdb-constants-npm-local/
# //themagnit.jfrog.io/artifactory/api/npm/tdb-constants-npm-local/:_password=QVA4cEFTaDhEOUpaSGdUc3BZSEI0aVVpNnAz
# //themagnit.jfrog.io/artifactory/api/npm/tdb-constants-npm-local/:username=info@themagnit.net
# //themagnit.jfrog.io/artifactory/api/npm/tdb-constants-npm-local/:email=info@themagnit.net
# //themagnit.jfrog.io/artifactory/api/npm/tdb-constants-npm-local/:always-auth=true
